.carousel-component {
    /* background-color: red; */
    min-width: 99vw;
    max-width: 99vw;
    min-height: 650px;
    max-height: 650px;
    position: relative !important;
    z-index: -1;
    background-color: #fffef2;
}

.carousel-component img {
    min-height: 620px;
    max-height: 620px;
    min-width: 99vw;
    max-width: 99vw;
    position: relative;
}

.upperimgcontent h1 {
    font-weight: 400;
}

.upperimgcontent h3 {
    font-size: 1rem;
}

.upperimgcontent h4 {
    font-size: 1.7rem;
}

.upperimgcontent p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

.upperimgcontent button {
    width: 300px;
    height: 60px;
    background-color: #fffef2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.upperimgcontent {
    position: absolute;
    /* background-color: red; */
    color: white;
    top: 0;
    min-height: 560px;
    max-height: 560px;
    min-width: 780px;
    max-width: 780px;
    display: flex;
    box-sizing: border-box;
    padding: 5rem;
    gap: 5rem;
}

.upperimgcontent-div2 {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.css-1abc02a {
    right: 43.3rem !important;
    top: 35.01rem !important;
    z-index: 2 !important;
    /* background-color: red; */
}

.css-1abc02a h5 {
    display: none;
}

.css-hn784z {
    top: 35rem !important;
    position: absolute !important;
    background-color: #fffef2 !important;
    /* background-color: rgba(194,194,175,255) !important; */
    /* right: 10rem; */
}

.css-hn784z div {
    /* background-color: red !important; */
    background-color: #fffef2 !important;
    /* background-color: rgba(194,194,175,255) !important; */
    min-width: 1900px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    color: gray;
}

.css-hn784z div h5 p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}



.css-hn784z div h5 {
    padding: 0;
    font-size: 0.8rem;
    margin: 0;
    gap: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-hn784z button:hover,
.css-hn784z div:hover {
    background-color: #fffef2 !important;
    color: gray !important;
}

.css-hn784z:hover {
    background-color: #fffef2 !important;
}

.css-hn784z:hover button {
    color: gray !important;
}

.css-hn784z button,
.css-1abc02a button {
    background-color: #fffef2 !important;
    color: gray !important;
    border: none;
    outline: none;
    font-size: 1.5rem;

}

.carousel-autoplay .pause {
    font-size: 1.6rem;
    color: gray;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
}

.carousel-autoplay .play {
    font-size: 1.3rem;
    color: gray;
}

.carousel-autoplay {
    /* background-color: red; */
    border: none;
    outline: none;
    background-color: #fffef2;
    position: absolute;
    bottom: 3.85rem;
    z-index: 2 !important;
    left: 52.4rem;
}

.car-button {
    display: none;
}

@media screen and (max-width: 768px) {


    .car-button svg {
        font-size: 1.3rem;
        color: white;
    }

    .car-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        /* background-color: red; */
        color: white;
        /* font-size: 1.3rem; */
        z-index: 11;
        left: 10px;
        min-width: 370px;
        max-width: 370px;
        min-height: 45px;
        max-height: 45px;
        top: 10rem;

    }

    .car-slider {
        background-color: white;
        position: absolute;
        z-index: 20;
        top: 0;
        min-width: 390px;
        max-width: 390px;
        min-height: 800px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    .carslidnav {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid gray;
    }

    .carslidnav2 {
        display: flex;
        flex-direction: column;
    }

    .carslidnav2 div {
        border-bottom: 1px solid gray;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .carslidnav3 {
        /* background-color: red; */
        min-height: 180px;
        max-height: 180px;
        display: flex;
        padding: 2rem;
        gap: 3rem;
    }


    .carslidnav3 p {
        padding: 0;
        margin: 0;
    }

    .carslidnav3 div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .carslidnav4 {
        /* background-color: red; */
        min-height: 400px;
        max-height: 400px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }

    .carslidnav41 {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        min-width: 300px;
        max-width: 300px;
        scroll-snap-align: start;
    }

    .carslidnav41 p,
    .carslidnav41 h1 {
        padding: 0;
        margin: 0;
    }

    .carslidnav41 h1 {
        font-size: 1rem;
    }

    .carslidnav41 p {
        font-size: 1.1rem;
    }

    .carslidnav41 img {
        width: 300px;
    }


    .carousel-component {
        /* background-color: red; */
        min-width: 390px;
        max-width: 390px;
        min-height: 860px;
        max-height: 860px;
        display: flex;
        flex-direction: column;
        position: relative;
        background: linear-gradient(transparent 50%, rgba(91, 62, 69, 255) 50%);
        z-index: 11;
    }

    .css-ohwg9z {
        overflow: visible !important;
    }

    .css-hn784z,
    .upperimgcontent-div1 {
        display: none !important;
    }

    .upperimgcontent-div2 {
        padding: 3rem 1rem;
        gap: 2rem;
    }

    .upperimgcontent-div2 button {
        min-width: 350px;
        max-width: 350px;
        min-height: 50px;
        max-height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .c1p1 {
        min-width: 320px;
        max-width: 320px;
        font-size: 1rem;
    }

    .upperimgcontent {
        position: absolute;
        z-index: 12;
        padding: 0rem;
        top: 450px;
        /* margin-bottom: -20px !important; */
    }

    .carousel-component img {
        /* z-index: 11; */

        min-height: 450px !important;
        height: 450px !important;
        max-height: 450px !important;
        object-fit: cover;
        background-position: left;
        background-size: cover;
        min-width: 390px;
        max-width: 390px;
        /* position: fixed; */

    }

    .carousel-component .css-1f8sh1y {
        /* background-color: red; */
        min-height: 402px !important;
        height: 402px !important;
        max-height: 402px !important;
    }
}