.hader-container {
    border: 1px solid black;
    background-color: #fffef2;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    width: 53%;
    height: 60px;
}

.box1>ul {
    display: flex;
    justify-content: space-around;
}

.box1>ul>li {
    margin-top: 18px;
    list-style: none;
}

.box1>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.box2 {
    width: 15%;
    height: 60px;
    margin-right: 40px;
}


.box2>ul {
    display: flex;
    justify-content: space-around;

}

.box2>ul>li {
    margin-top: 18px;
    list-style: none;


}

.box2>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 13px;

}